{
    "extends": "airbnb-base",
    "globals": {
        "window": true,
        "document": true,
        "fetch": true
    },
    "rules": {
        "no-underscore-dangle": 0,
        "func-names": 0,
        "wrap-iife": 0,
        "max-len": [2, 120]
    }
}